<h1>Patient: <%=@patient.name%></h1>

<% @patient.appointments.each do |appointment| %>
   <li>With Doctor: <%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %> - 
   <%= link_to appointment.date_time, appointment_path(appointment) %> </li>
   <% end %>