<h2><%= @appointment.appointment_datetime %></h2>
<p>
<% @doctor = @appointment.doctor %>
 <%= link_to "#{@doctor.name}", doctor_path(@doctor) %>
</p>

<p>
 <%= link_to "#{@appointment.patient_name}", patient_path(@appointment.patient) %>
</p>